<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">{{title}}</a>
    </div>
    <ul class="navbar-nav nav">
      <li class="nav-item" routerLinkActive="active" *ngIf="isSignedIn">
        <a class="nav-link" [routerLink]="['/operations']">Operations</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isSignedIn">
        <a class="nav-link" [routerLink]="['/withdraw']">Withdraw</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isSignedIn">
        <a class="nav-link" [routerLink]="['/transactions']">Transactions</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" *ngIf="!isSignedIn">
        <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
      </li>
      <li routerLinkActive="active" *ngIf="isSignedIn">
        <a href="#" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
      </li>
    </ul>
  </div>
</nav>
